@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
  }
}

.notebook {
  color: #2c3e50;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 5px;

  .left-list {
    .left-top {
      height: 65px;
      box-sizing: border-box;
      padding: 10px 10px 0;

      .tp-btn {
        display: flex;
        justify-content: space-between;
      }

      .back {
        display: flex;
        vertical-align: middle;
        font-size: 14px;
        cursor: pointer;

        span {
          padding: 2px;
        }
      }

      .icon-refresh {
        cursor: pointer;
        margin-right: 10px;
      }

      .nsfw {
        cursor: pointer;
      }

      p {
        margin: 0;
        text-align: center;
        font-size: 18px;
      }
    }

    .sort {
      display: flex;
      font-size: 13px;
      height: 23px;
      box-sizing: border-box;
      text-align: center;

      div {
        flex: 1;
        line-height: 23px;
        height: 100%;
        cursor: pointer;
        position: relative;

        &.choose::after {
          content: '';
          display: inline-block;
          width: 70px;
          height: 1px;
          position: absolute;
          bottom: 2px;
          background: #2c3e50;
          left: 50%;
          margin-left: -35px;
        }
      }
    }

    .list-container {
      height: calc(100% - 88px);
      padding-top: 5px;
      box-sizing: border-box;
    }

    width: 230px;
    min-width: 230px;
    height: 100%;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    background-color: #fff;
  }

  .right-editor {
    flex: 1;
    max-width: calc(100% - 235px);

    #md-editor-v3 {
      height: 100%;
    }
  }
}

.note-collections {
}

.none {
  display: none;
}

//

.dialog-footer {
  text-align: right;
}

.question {
  position: relative;
  left: 6px;
  color: #c1c1c1;
}

.footer-delete {
  padding: 3px;
  position: relative;
  top: 2px;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}
