@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
  }
}
.notebook {
  color: #2c3e50;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  .left-list {
    .left-top {
      height: 65px;
      box-sizing: border-box;
      padding: 10px;
      .tp-btn {
        display: flex;
        justify-content: space-between;
      }
      .back {
        display: flex;
        vertical-align: middle;
        font-size: 14px;
        cursor: pointer;
        span {
          padding: 2px;
        }
      }
      .icon-refresh {
        cursor: pointer;
        margin-right: 10px;
      }
      .nsfw {
        cursor: pointer;
      }
      p {
        margin: 0;
        text-align: center;
        font-size: 18px;
      }
    }
    .note-items {
      @include scrollBar();
      overflow-y: scroll;
      height: calc(100% - 65px);
      flex: 1;
      .note-item {
        height: 50px;
        box-sizing: border-box;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #eee;

        &:hover {
          transition: all ease 0.4s;
          background: whitesmoke;
        }
        p {
          margin: 0;
        }
        ._title {
          font-size: 14px;
          margin-bottom: 5px;
        }
        ._time {
          font-size: 12px;
          text-align: right;
        }
      }
    }
    width: 230px;
    min-width: 230px;
    height: 100%;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    background-color: #fff;
  }
  .right-editor {
    flex: 1;
    #md-editor-v3 {
      height: 100%;
    }
  }
}
.none {
  display: none;
}

//

.dialog-footer {
  text-align: right;
}

.question {
  position: relative;
  left: 6px;
  color: #c1c1c1;
}

.footer-delete {
  padding: 3px;
  position: relative;
  top: 2px;
  &:hover{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}